/* !----- / Variables / ----- */
/* !---- Header ----- */
.section-header {
  background-color: #f3f3f3;
}
/* !---- Zone user ----- */
.zone-user .menu {
  margin: 1em 0 0;
  text-align: right;
}
.zone-user .menu li {
  background: url('../images/secondary-menu-sep.png') no-repeat right 1px;
}
.zone-user .menu li a {
  margin: 0 10px 0 0;
}
.zone-user .menu li.last {
  background: none;
  margin: 0;
}
.zone-user .menu li.last a {
  margin: 0;
}
/* !---- Zone branding ----- */
.zone-branding {
  min-height: 115px;
  position: relative;
}
.zone-branding .region-branding {
  padding: 1em 0 0;
}
.zone-branding .region-branding .site-logo {
  float: left;
  width: 47.340425531914893617021276595745%;
}
.zone-branding .region-search {
  margin-top: -13px;
  padding: 0 0 3em;
  text-align: right;
}
.zone-branding .region-search input {
  border: 1px solid #cfcfcf;
  height: 37px;
  margin-right: -10px;
  padding: 0 1em 0 .5em;
  min-width: 320px;
}
.zone-branding .region-search input[type=submit] {
  background: url('../images/sprites.png') no-repeat 12px 10px #059ebb;
  border: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-border-radius: 10px;
  margin-right: 0;
  padding: 0;
  text-indent: -10000px;
  min-width: 41px;
  width: 41px;
}
/* !---- Main menu ----- */
.region-menu ul {
  background-color: #404040;
  overflow: hidden;
}
.region-menu ul li {
  float: left;
  margin: 0;
}
.region-menu ul li a {
  display: block;
  padding: 10px 35px;
}
.region-menu ul li a:hover {
  background-color: #333;
}
.region-menu ul li.active a, .region-menu ul li.active-trail a {
  background-color: #059ebb;
}
/* !---- Submenu ----- */
.block.block-menu-block {
  background-color: transparent;
}
.block.block-menu-block h2.block-title a {
  background-color: #f3f3f3;
  display: block;
  padding: 0 0 0 15px;
}
.block.block-menu-block ul {
  margin: 0;
  padding: 0;
}
.block.block-menu-block ul li a {
  background: #f3f3f3 url('../images/menu-sprite.png') no-repeat;
  display: block;
  line-height: 30px;
  min-height: 30px;
  margin: 1px 0 0;
}
.block.block-menu-block ul li a:hover, .block.block-menu-block ul li a.active-trail {
  background-color: #e4e4e4;
}
.block.block-menu-block ul li a.active-trail.active {
  background-color: #059ebb;
}
.block.block-menu-block ul li.level-2 a {
  background-position: -68px -71px;
  padding-left: 30px;
}
.block.block-menu-block ul li.level-2 a.active-trail {
  background-position: -22px -22px;
}
.block.block-menu-block ul li.level-2 a.active-trail.active {
  background-position: -45px -46px;
}
.block.block-menu-block ul li.level-2.expanded.active-trail > a.active-trail.active {
  background-position: -90px -95px;
}
.block.block-menu-block ul li.level-3 a {
  background-position: -55px -71px;
  padding-left: 45px;
}
.block.block-menu-block ul li.level-3 a.active-trail {
  background-position: -6px -22px;
}
.block.block-menu-block ul li.level-3 a.active-trail.active {
  background-position: -30px -46px;
}
.block.block-menu-block ul li.level-3.expanded.active-trail > a.active-trail.active {
  background-position: -76px -95px;
}
.block.block-menu-block ul li.level-4 a {
  background-position: -40px -71px;
  padding-left: 60px;
}
.block.block-menu-block ul li.level-4 a.active-trail {
  background-position: 10px -22px;
}
.block.block-menu-block ul li.level-4 a.active-trail.active {
  background-position: -16px -46px;
}
.block.block-menu-block ul li.level-4.expanded.active-trail > a.active-trail.active {
  background-position: -60px -95px;
}
.block.block-menu-block ul li.level-5 a {
  background-position: -23px -71px;
  padding-left: 75px;
}
.block.block-menu-block ul li.level-5 a.active-trail {
  background-position: 24px -22px;
}
.block.block-menu-block ul li.level-5 a.active-trail.active {
  background-position: 0 -46px;
}
.block.block-menu-block ul li.level-5.expanded.active-trail > a.active-trail.active {
  background-position: -46px -95px;
}
.block.block-menu-block ul li.level-6 a {
  background-position: -8px -71px;
  padding-left: 90px;
}
.block.block-menu-block ul li.level-6 a.active-trail {
  background-position: 40px -22px;
}
.block.block-menu-block ul li.level-6 a.active-trail.active {
  background-position: 14px -46px;
}
.block.block-menu-block ul li.level-6.expanded.active-trail > a.active-trail.active {
  background-position: -30px -95px;
}
.block.block-menu-block ul li.level-7 a {
  background-position: 6px -71px;
  padding-left: 105px;
}
.block.block-menu-block ul li.level-7 a.active-trail {
  background-position: 58px -22px;
}
.block.block-menu-block ul li.level-7 a.active-trail.active {
  background-position: 28px -46px;
}
.block.block-menu-block ul li.level-7.expanded.active-trail > a.active-trail.active {
  background-position: -18px -95px;
}
.block.block-menu-block ul li.level-8 a {
  background-position: 20px -71px;
  padding-left: 120px;
}
.block.block-menu-block ul li.level-8 a.active-trail {
  background-position: 76px -22px;
}
.block.block-menu-block ul li.level-8 a.active-trail.active {
  background-position: 44px -46px;
}
.block.block-menu-block ul li.level-8.expanded.active-trail > a.active-trail.active {
  background-position: -24px -95px;
}
/* !---- Content ----- */
.section.section-content {
  background-color: #fff;
  padding: 30px 0;
}
.context-editing .section.section-content {
  padding: 90px 0 30px;
}
/* !---- Blocks ----- */
.block h1,
.block h2,
.block h3,
.block h4,
.block h5 {
  background-color: #fff;
}
.block.block-nodespotbox {
  background-color: #f3f3f3;
}
.block.block-nodespotbox.block-image h2 {
  background-color: #f3f3f3;
}
.block.block-nodespotbox.block-image h2 a {
  display: block;
  padding: 10px 20px 5px;
  margin: 0 0 -20px;
}
.block.block-nodespotbox .text-content {
  padding: 20px 20px 15px 22px;
}
.block.block-nodespotbox .link {
  margin: -15px 0 0;
  padding: 0 20px 20px;
  text-align: right;
}
.section-footer h2, .section-footer .block {
  background-color: transparent;
}
/* !---- Footer ----- */
.section-footer {
  background: #0db7d7 url('../images/footer-bg.jpg') repeat-x;
}
.section-footer .zone-footer .region {
  margin-top: 50px;
}
.section-footer ul li {
  background: none;
  list-style: circle inside;
}
.section-footer a.link {
  background: url('../images/menu-sprite.png') no-repeat top left;
  display: block;
  line-height: 120%;
  padding: 0 0 0 25px;
}
.section-footer .zone-footer-second-wrapper {
  background-color: #d3f1f7;
  padding: .5em 0;
  text-align: center;
}
.section-footer .zone-footer-second-wrapper p {
  margin: 1% 0;
}
.section-footer .zone-footer-second-wrapper .zone-footer-second {
  margin: 0 auto;
}
/* !---- Featured content ----- */
.slideshow-panorama {
  background: url('../images/featured-content-overlay-bottom.png') no-repeat center bottom;
  bottom: 0;
  margin: 0 0 -86px;
  max-width: 100%;
  padding: 0 0 25px;
  position: relative;
  z-index: 1;
}
.slideshow-panorama .skin {
  overflow: hidden;
}
.slideshow-panorama .next, .slideshow-panorama .previous {
  background: url('../images/slideshow-arrows.png') no-repeat;
  cursor: pointer;
  display: block;
  height: 37px;
  overflow: hidden;
  position: absolute;
  text-indent: -10000px;
  top: 80px;
  width: 37px;
  z-index: 10;
}
.slideshow-panorama .next {
  background-position: left center;
  left: -20px;
}
.slideshow-panorama .previous {
  background-position: right center;
  right: -20px;
}
.slideshow-panorama .views-row {
  width: 980px;
}
.slideshow-panorama .coverlayer {
  background: url('../images/black-bg-75.png');
  background: rgba(0, 0, 0, 0.75);
  left: 0;
  position: absolute;
  top: 187px;
  width: 100%;
}
.slideshow-panorama .coverlayer .coverlayer-inner {
  background: url('../images/featured-content-overlay-top.png') no-repeat center bottom;
  bottom: 0;
  height: 61px;
  margin: 0;
  padding: 0;
  position: relative;
}
.slideshow-panorama .coverlayer .coverlayer-inner h2 {
  background: none;
  line-height: 250%;
  margin: 0 20px;
}
.slideshow-panorama .coverlayer .coverlayer-inner p {
  margin: 0;
}
.slideshow-panorama .panorama-image {
  margin: 0;
}
.slideshow-panorama .views-slideshow-controls-bottom {
  bottom: 48px;
  position: absolute;
  right: 10px;
  z-index: 3;
}
.slideshow-panorama .views-slideshow-controls-bottom .pager .pager-item {
  float: left;
  margin: 0 5px 0 0;
  background-color: #949494;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-border-radius: 10px;
  cursor: pointer;
  height: 12px;
  overflow: hidden;
  text-indent: -10000px;
  width: 12px;
}
.slideshow-panorama .views-slideshow-controls-bottom .pager .pager-item.active {
  background-color: #fff;
}
/* !---- Sidebars ----- */
.region-sidebar-first .block-nodespotbox, .region-sidebar-second .block-nodespotbox {
  margin: 0 0 2em;
}
.region-sidebar-first .block-nodespotbox .block-nodespotbox, .region-sidebar-second .block-nodespotbox .block-nodespotbox {
  margin: 0;
}
/* !---- Bottom ----- */
.region-page-bottom {
  min-height: 0px;
}
