/* !----- / Variables / ----- */
/* !----- / Typography ----- */
/* !----- / Variables / ----- */
/* !---- Base typography ----- */
body {
  font-family: 'arial', sans-serif;
  font-weight: 400;
  background: #ffffff;
  color: #5d5d5d;
  line-height: 1.4em;
  font-size: 14px;
}
p {
  margin-bottom: 1em;
}
.site-name a {
  font-family: 'arial', sans-serif;
  font-weight: 300;
  font-size: 21px;
  text-transform: uppercase;
  text-decoration: none;
}
.title {
  font-family: 'arial', 'myriad-pro', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1.2em;
}
.block-title, .field-label {
  font-size: 21px;
  font-family: 'arial', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.2em;
  font-weight: normal;
}
.text-content h2 {
  font-family: 'arial', 'myriad-pro', sans-serif;
  font-weight: 'arial', 'myriad-pro', sans-serif;
  font-size: 14px;
}
.text-content h3 {
  font-family: 'arial', 'myriad-pro', sans-serif;
  font-weight: 'arial', 'myriad-pro', sans-serif;
  font-size: 14px;
}
.text-content ul {
  margin-left: 20px;
  list-style: square;
  margin-bottom: 1em;
}
.text-content ol {
  margin-left: 20px;
  list-style: decimal;
  margin-bottom: 1em;
}
blockquote {
  padding-left: 20px;
}
a:link {
  color: #059db9;
  text-decoration: underline;
}
a:visited {
  color: #047488;
  text-decoration: none;
}
a:hover {
  color: #035361;
  text-decoration: none;
}
a:active {
  color: #000;
  text-decoration: none;
}
.zone-user a:link, .zone-user a:visited {
  color: #5d5d5d;
  margin-right: 16px;
  border-color: #5d5d5d;
}
.region-menu a {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
}
.region-menu a:link,
.region-menu a:visited,
.region-menu a:hover,
.region-menu a:active {
  color: #fff;
  font-size: 1.15em;
  text-decoration: none;
  -webkit-text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  -moz-text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  -webkit-text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  -moz-text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
}
input[type=submit], button {
  font-family: 'arial', 'myriad-pro', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
/* !----- / Layout ----- */
/* !---- Body ----- */
.section-header {
  background-color: #f3f3f3;
  min-height: 236px;
}
.front .section-header {
  min-height: 389px;
}
/* !---- Zone branding ----- */
.zone-branding {
  min-height: 115px;
  position: relative;
}
.zone-branding .site-logo {
  left: 0;
  position: absolute;
  top: 10px;
}
/* !---- Main menu ----- */
.region-menu ul {
  background-color: #404040;
  overflow: hidden;
}
.region-menu ul li {
  float: left;
  margin: 0;
}
.region-menu ul li a {
  display: block;
  padding: 10px 35px;
}
.region-menu ul li a:hover {
  background-color: #333;
}
.region-menu ul li.active a {
  background-color: #059ebb;
}
