/* !----- / Variables / ----- */
/* !----- / Typography ----- */
/* !----- / Variables / ----- */
/* !---- Base typography ----- */
html {
  background-color: #0db7d7;
}
body {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 400;
  background: #0db7d7;
  color: #5d5d5d;
  line-height: 1.4em;
  font-size: 13px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.05px;
}
p {
  margin-bottom: 1em;
}
.site-name a {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 300;
  font-size: 18.525000000000002px;
  text-transform: uppercase;
  text-decoration: none;
}
.title {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 29.25px;
  line-height: 1em;
}
.block-title, .field-label {
  font-size: 18.525000000000002px;
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 'CartoGothicStdBook', 'arial', sans-serif;
  text-transform: normal;
  line-height: 2em;
  font-weight: normal;
}
h2.block-title {
  font-size: 18.525000000000002px;
}
h2.block-title a {
  color: #4c4c4c;
  text-decoration: none;
}
.text-content h2 {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 'CartoGothicStdBook', 'arial', sans-serif;
  font-size: 18.525000000000002px;
}
.text-content h3 {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 'CartoGothicStdBook', 'arial', sans-serif;
  font-size: 13px;
}
.text-content ul {
  margin-left: 20px;
  list-style: square;
  margin-bottom: 1em;
}
.text-content ol {
  margin-left: 20px;
  list-style: decimal;
  margin-bottom: 1em;
}
blockquote {
  padding-left: 2em;
}
a:link {
  color: #059db9;
  text-decoration: underline;
}
a:visited {
  color: #047488;
  text-decoration: none;
}
a:hover {
  color: #035361;
  text-decoration: none;
}
a:active {
  color: #000;
  text-decoration: none;
}
.zone-user a:link, .zone-user a:visited {
  color: #5d5d5d;
  margin-right: 1.6em;
  border-color: #5d5d5d;
}
.region-menu a:link,
.region-menu a:visited,
.region-menu a:hover,
.region-menu a:active {
  color: #fff;
  font-size: 1.25em;
  text-decoration: none;
  -webkit-text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  -moz-text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  -webkit-text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  -moz-text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  -webkit-text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  -moz-text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
}
input[type=submit], button {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
/* !---- Blocks ----- */
.section-footer .block h2 {
  color: #fff;
  font-size: 1.5em;
  -webkit-text-shadow: #0392af 1px 1px 1px;
  -moz-text-shadow: #0392af 1px 1px 1px;
  text-shadow: #0392af 1px 1px 1px;
  -webkit-text-shadow: #0392af 1px 1px 1px;
  -moz-text-shadow: #0392af 1px 1px 1px;
  text-shadow: #0392af 1px 1px 1px;
  -webkit-text-shadow: #0392af 1px 1px 1px;
  -moz-text-shadow: #0392af 1px 1px 1px;
  text-shadow: #0392af 1px 1px 1px;
}
/* !---- Submenu ----- */
.block.block-menu-block {
  background-color: transparent;
}
.block.block-menu-block h2.block-title {
  font-size: 1.45em;
}
.block.block-menu-block ul li a {
  color: #059ebb;
  font-size: .95em;
  text-decoration: none;
}
.block.block-menu-block ul li a:hover {
  color: #038298;
}
.block.block-menu-block ul li a.active-trail.active {
  color: #fff;
  -webkit-text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  -moz-text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  -webkit-text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  -moz-text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  -webkit-text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  -moz-text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}
/* !---- Footer ----- */
.section-footer {
  color: #fff;
}
.section-footer a:link {
  color: #fff;
  text-decoration: none;
}
.section-footer a:visited {
  border: 1px dashed red;
  color: #c4eef6;
}
.section-footer a:hover {
  text-decoration: underline;
}
.section-footer a:active {
  color: #074049;
}
.section-footer .zone-footer-second a:link {
  color: #059db9;
  text-decoration: underline;
}
.section-footer .zone-footer-second a:visited {
  color: #047488;
  text-decoration: none;
}
.section-footer .zone-footer-second a:hover {
  color: #035361;
  text-decoration: none;
}
.section-footer .zone-footer-second a:active {
  color: #000;
  text-decoration: none;
}
.section-footer .zone-footer-second {
  color: #065d7f;
}
/* !---- Featured content ----- */
.slideshow-panorama .coverlayer {
  color: #fff;
}
/* !----- / Layout ----- */
/* !----- / Variables / ----- */
/* !---- Header ----- */
.section-header {
  background-color: #f3f3f3;
}
/* !---- Zone branding ----- */
.zone-branding {
  min-height: 115px;
  position: relative;
}
.zone-branding .region-branding {
  padding: 4em 0 0;
}
.zone-branding .region-branding .site-logo {
  float: left;
  width: 47.340425531914893617021276595745%;
}
.zone-branding .region-search {
  margin-top: -13px;
  padding: 0 0 3em;
  text-align: right;
}
.zone-branding .region-search input {
  border: 1px solid #cfcfcf;
  height: 37px;
  margin-right: -10px;
  padding: 0 1em 0 .5em;
  min-width: 320px;
}
.zone-branding .region-search input[type=submit] {
  background: url('../images/sprites.png') no-repeat 12px 10px #059ebb;
  border: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-border-radius: 10px;
  margin-right: 0;
  padding: 0;
  text-indent: -10000px;
  min-width: 41px;
  width: 41px;
}
/* !---- Main menu ----- */
.region-menu ul {
  background-color: #404040;
  overflow: hidden;
}
.region-menu ul li {
  float: left;
  margin: 0;
}
.region-menu ul li a {
  display: block;
  padding: 10px 35px;
}
.region-menu ul li a:hover {
  background-color: #333;
}
.region-menu ul li.active a, .region-menu ul li.active-trail a {
  background-color: #059ebb;
}
/* !---- Submenu ----- */
.block.block-menu-block {
  background-color: transparent;
}
.block.block-menu-block h2.block-title a {
  background-color: #f3f3f3;
  display: block;
  padding: 0 0 0 15px;
}
.block.block-menu-block ul {
  margin: 0;
  padding: 0;
}
.block.block-menu-block ul li a {
  background: #f3f3f3 url('../images/menu-sprite.png') no-repeat;
  display: block;
  line-height: 30px;
  min-height: 30px;
  margin: 1px 0 0;
}
.block.block-menu-block ul li a:hover, .block.block-menu-block ul li a.active-trail {
  background-color: #e4e4e4;
}
.block.block-menu-block ul li a.active-trail.active {
  background-color: #059ebb;
}
.block.block-menu-block ul li.level-2 a {
  background-position: -68px -71px;
  padding-left: 30px;
}
.block.block-menu-block ul li.level-2 a.active-trail {
  background-position: -22px -22px;
}
.block.block-menu-block ul li.level-2 a.active-trail.active {
  background-position: -45px -46px;
}
.block.block-menu-block ul li.level-2.expanded.active-trail > a.active-trail.active {
  background-position: -90px -95px;
}
.block.block-menu-block ul li.level-3 a {
  background-position: -55px -71px;
  padding-left: 45px;
}
.block.block-menu-block ul li.level-3 a.active-trail {
  background-position: -6px -22px;
}
.block.block-menu-block ul li.level-3 a.active-trail.active {
  background-position: -30px -46px;
}
.block.block-menu-block ul li.level-3.expanded.active-trail > a.active-trail.active {
  background-position: -76px -95px;
}
.block.block-menu-block ul li.level-4 a {
  background-position: -40px -71px;
  padding-left: 60px;
}
.block.block-menu-block ul li.level-4 a.active-trail {
  background-position: 10px -22px;
}
.block.block-menu-block ul li.level-4 a.active-trail.active {
  background-position: -16px -46px;
}
.block.block-menu-block ul li.level-4.expanded.active-trail > a.active-trail.active {
  background-position: -60px -95px;
}
.block.block-menu-block ul li.level-5 a {
  background-position: -23px -71px;
  padding-left: 75px;
}
.block.block-menu-block ul li.level-5 a.active-trail {
  background-position: 24px -22px;
}
.block.block-menu-block ul li.level-5 a.active-trail.active {
  background-position: 0 -46px;
}
.block.block-menu-block ul li.level-5.expanded.active-trail > a.active-trail.active {
  background-position: -46px -95px;
}
.block.block-menu-block ul li.level-6 a {
  background-position: -8px -71px;
  padding-left: 90px;
}
.block.block-menu-block ul li.level-6 a.active-trail {
  background-position: 40px -22px;
}
.block.block-menu-block ul li.level-6 a.active-trail.active {
  background-position: 14px -46px;
}
.block.block-menu-block ul li.level-6.expanded.active-trail > a.active-trail.active {
  background-position: -30px -95px;
}
.block.block-menu-block ul li.level-7 a {
  background-position: 6px -71px;
  padding-left: 105px;
}
.block.block-menu-block ul li.level-7 a.active-trail {
  background-position: 58px -22px;
}
.block.block-menu-block ul li.level-7 a.active-trail.active {
  background-position: 28px -46px;
}
.block.block-menu-block ul li.level-7.expanded.active-trail > a.active-trail.active {
  background-position: -18px -95px;
}
.block.block-menu-block ul li.level-8 a {
  background-position: 20px -71px;
  padding-left: 120px;
}
.block.block-menu-block ul li.level-8 a.active-trail {
  background-position: 76px -22px;
}
.block.block-menu-block ul li.level-8 a.active-trail.active {
  background-position: 44px -46px;
}
.block.block-menu-block ul li.level-8.expanded.active-trail > a.active-trail.active {
  background-position: -24px -95px;
}
/* !---- Content ----- */
.section.section-content {
  background-color: #fff;
  padding: 30px 0;
}
/* !---- Blocks ----- */
.block h1,
.block h2,
.block h3,
.block h4,
.block h5 {
  background-color: #fff;
}
.block.block-nodespotbox {
  background-color: #f3f3f3;
}
.block .view .content {
  padding: 20px;
}
.block .view .link {
  margin: -20px 0 0;
  padding: 0 20px 20px;
  text-align: right;
}
.section-footer h2, .section-footer .block {
  background-color: transparent;
}
/* !---- Footer ----- */
.section-footer {
  background: #0db7d7 url('../images/footer-bg.jpg') repeat-x;
}
.section-footer .zone-footer .region {
  margin-top: 50px;
}
.section-footer ul li {
  background: none;
  list-style: circle inside;
}
.section-footer a.link {
  background: url('../images/sprites.png') no-repeat top left;
  display: block;
  line-height: 120%;
  padding: 0 0 0 25px;
}
.section-footer .zone-footer-second-wrapper {
  background-color: #d3f1f7;
  padding: .5em 0;
  text-align: center;
}
.section-footer .zone-footer-second-wrapper p {
  margin: 1% 0;
}
.section-footer .zone-footer-second-wrapper .zone-footer-second {
  margin: 0 auto;
}
/* !---- Featured content ----- */
.slideshow-panorama {
  background: url('../images/featured-content-overlay-bottom.png') no-repeat center bottom;
  bottom: 0;
  margin: 0 0 -86px;
  max-width: 100%;
  padding: 0 0 25px;
  position: relative;
  z-index: 1;
}
.slideshow-panorama .skin {
  overflow: hidden;
}
.slideshow-panorama .next, .slideshow-panorama .previous {
  background: url('../images/slideshow-arrows.png') no-repeat;
  cursor: pointer;
  display: block;
  height: 37px;
  overflow: hidden;
  position: absolute;
  text-indent: -10000px;
  top: 80px;
  width: 37px;
  z-index: 10;
}
.slideshow-panorama .next {
  background-position: left center;
  left: -20px;
}
.slideshow-panorama .previous {
  background-position: right center;
  right: -20px;
}
.slideshow-panorama .views-row {
  width: 980px;
}
.slideshow-panorama .coverlayer {
  background: url('../images/black-bg-75.png');
  background: rgba(0, 0, 0, 0.75);
  left: 0;
  position: absolute;
  top: 187px;
  width: 100%;
}
.slideshow-panorama .coverlayer .coverlayer-inner {
  background: url('../images/featured-content-overlay-top.png') no-repeat center bottom;
  bottom: 0;
  height: 61px;
  margin: 0;
  padding: 0;
  position: relative;
}
.slideshow-panorama .coverlayer .coverlayer-inner h2 {
  background: none;
  line-height: 250%;
  margin: 0 20px;
}
.slideshow-panorama .coverlayer .coverlayer-inner p {
  margin: 0;
}
.slideshow-panorama .panorama-image {
  margin: 0;
}
.slideshow-panorama .views-slideshow-controls-bottom {
  bottom: 48px;
  position: absolute;
  right: 10px;
  z-index: 3;
}
.slideshow-panorama .views-slideshow-controls-bottom .pager .pager-item {
  float: left;
  margin: 0 5px 0 0;
  background-color: #949494;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-border-radius: 10px;
  cursor: pointer;
  height: 12px;
  overflow: hidden;
  text-indent: -10000px;
  width: 12px;
}
.slideshow-panorama .views-slideshow-controls-bottom .pager .pager-item.active {
  background-color: #fff;
}
/* !---- Bottom ----- */
.region-page-bottom {
  min-height: 0px;
}
