/* !---- Body ----- */
.section-header {
  background-color: #f3f3f3;
}
/* !---- Zone branding ----- */
.zone-branding {
  min-height: 115px;
  position: relative;
}
.zone-branding .region-branding {
  padding: 4em 0 0;
}
.zone-branding .region-branding .site-logo {
  float: left;
  width: 47.340425531914893617021276595745%;
}
.zone-branding .region-search {
  padding: 0 0 5em;
}
/* !---- Main menu ----- */
.region-menu ul {
  background-color: #404040;
  overflow: hidden;
}
.region-menu ul li {
  float: left;
  margin: 0;
}
.region-menu ul li a {
  display: block;
  padding: 10px 35px;
}
.region-menu ul li a:hover {
  background-color: #333;
}
.region-menu ul li.active a {
  background-color: #059ebb;
}
/* !---- Content ----- */
.section.section-content {
  margin: 0 0 50px;
}
/* !---- Blocks ----- */
.block {
  background-color: #f3f3f3;
}
.block h1,
.block h2,
.block h3,
.block h4,
.block h5 {
  background-color: #fff;
}
.block .view .content {
  padding: 20px;
}
.block .view .link {
  margin: -20px 0 0;
  padding: 0 20px 20px;
  text-align: right;
}
.section-footer .block {
  background-color: transparent;
}
/* !---- Footer ----- */
.section-footer {
  background: #0db7d7 url('../images/footer-bg.jpg') repeat-x;
  min-height: 250px;
}
.section-footer .region-footer-fifth {
  text-align: center;
}
/* !---- Bottom ----- */
.region-page-bottom {
  min-height: 0px;
}
