/* !----- / Variables / ----- */
@media screen and (max-width: 768px) {
  .front .section.section-content {
    padding-top: 30px;
  }
  .front .block-spanien-featured-content {
    display: none;
  }
  .front .slideshow-panorama {
    background: none;
  }
  .front .slideshow-panorama .coverlayer .coverlayer-inner {
    background: none;
    height: 47px;
  }
  .site-logo {
    float: none;
    margin-bottom: 3em;
    text-align: left;
    width: 100%;
  }
  .zone-branding .region-search {
    text-align: left;
  }
  .zone-branding .region-search input {
    margin-right: 0;
    min-width: 0;
    width: 91%;
  }
  ul.main-menu {
    background: none;
  }
  ul.main-menu li {
    width: 33%;
  }
  ul.main-menu li a {
    background-color: #404040;
    margin: 0 10px 10px 0;
    padding: 10px;
    text-align: center;
  }
  .grid-12.region-postscript-first .block#block-block-6 a.link {
    display: none;
  }
  .breadcrumb {
    margin-left: 10px;
  }
  .office-hours .oh-display .oh-display-day,
  .office-hours .oh-display .oh-display-hours {
    width: 29%;
  }
  .zone-footer {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .zone.narrow-stack .region {
    float: left;
    margin-right: 0;
    margin-bottom: 2em;
    width: 31%;
  }
}
@media screen and (max-width: 650px) {
  .zone.narrow-stack .region {
    float: left;
    margin-right: 0;
    width: 47%;
  }
  .zone.narrow-stack .narrow-no-stack {
    clear: both;
    width: 96%;
  }
}
@media screen and (max-width: 500px) {
  .zone.narrow-stack .region {
    width: 96%;
  }
}
@media screen and (max-width: 525px) {
  .zone-branding .region-search input {
    margin-right: 0;
    width: 83%;
  }
}
@media screen and (max-width: 500px) {
  .zone-branding .region-search {
    text-align: left;
  }
  .zone-branding .region-search input {
    margin-right: 0;
    width: 80%;
  }
  ul.main-menu {
    background: none;
  }
  ul.main-menu li a {
    padding: 10px 5px 5px;
  }
  .office-hours .oh-display .oh-display-day,
  .office-hours .oh-display .oh-display-hours {
    width: 25%;
  }
}
