/* !----- / Variables / ----- */
/* !----- / Typography ----- */
/* !----- / Variables / ----- */
/* !---- Base typography ----- */
html {
  background-color: #0db7d7;
}
body {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 400;
  background: #ffffff;
  color: #5d5d5d;
  line-height: 1.4em;
  font-size: 14px;
}
p {
  margin-bottom: 1em;
}
.site-name a {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 300;
  font-size: 18.55px;
  text-transform: uppercase;
  text-decoration: none;
}
.title {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1.2em;
}
.block-title, .field-label {
  font-size: 18.55px;
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 'CartoGothicStdBook', 'arial', sans-serif;
  text-transform: normal;
  line-height: 1.2em;
  font-weight: normal;
}
h2.block-title {
  font-size: 18.55px;
}
h2.block-title a {
  color: #4c4c4c;
  text-decoration: none;
}
.text-content h2 {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 'CartoGothicStdBook', 'arial', sans-serif;
  font-size: 18.55px;
}
.text-content h3 {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 'CartoGothicStdBook', 'arial', sans-serif;
  font-size: 14px;
}
.text-content ul {
  margin-left: 20px;
  list-style: square;
  margin-bottom: 1em;
}
.text-content ol {
  margin-left: 20px;
  list-style: decimal;
  margin-bottom: 1em;
}
blockquote {
  padding-left: 2em;
}
a:link {
  color: #059db9;
  text-decoration: underline;
}
a:visited {
  color: #047488;
  text-decoration: none;
}
a:hover {
  color: #035361;
  text-decoration: none;
}
a:active {
  color: #000;
  text-decoration: none;
}
.zone-user a:link, .zone-user a:visited {
  color: #5d5d5d;
  margin-right: 1.6em;
  border-color: #5d5d5d;
}
.region-menu a:link,
.region-menu a:visited,
.region-menu a:hover,
.region-menu a:active {
  color: #fff;
  font-size: 1.15em;
  text-decoration: none;
  -webkit-text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  -moz-text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  -webkit-text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  -moz-text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
}
input[type=submit], button {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
/* !----- / Layout ----- */
/* !---- Body ----- */
.section-header {
  background-color: #f3f3f3;
}
/* !---- Zone branding ----- */
.zone-branding {
  min-height: 115px;
  position: relative;
}
.zone-branding .region-branding {
  padding: 4em 0 0;
}
.zone-branding .region-branding .site-logo {
  float: left;
  width: 47.340425531914893617021276595745%;
}
.zone-branding .region-search {
  padding: 0 0 5em;
}
/* !---- Main menu ----- */
.region-menu ul {
  background-color: #404040;
  overflow: hidden;
}
.region-menu ul li {
  float: left;
  margin: 0;
}
.region-menu ul li a {
  display: block;
  padding: 10px 35px;
}
.region-menu ul li a:hover {
  background-color: #333;
}
.region-menu ul li.active a {
  background-color: #059ebb;
}
/* !---- Footer ----- */
.section-footer {
  background: #0db7d7 url('../images/footer-bg.jpg') repeat-x;
  min-height: 250px;
}
/* !---- Bottom ----- */
.region-page-bottom {
  background-color: #d3f1f7;
}
