/* !----- / Variables / ----- */
/* !---- Base typography ----- */
html {
  background-color: #0db7d7;
}
body {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 400;
  background: #0db7d7;
  color: #5d5d5d;
  line-height: 1.4em;
  font-size: 13px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.05px;
}
p {
  margin-bottom: 1em;
}
.site-name a {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 300;
  font-size: 18.525000000000002px;
  text-transform: uppercase;
  text-decoration: none;
}
.title {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 29.25px;
  line-height: 1em;
}
.block-title, .field-label {
  font-size: 18.525000000000002px;
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 'CartoGothicStdBook', 'arial', sans-serif;
  text-transform: normal;
  line-height: 2em;
  font-weight: normal;
}
h2.block-title {
  font-size: 18.525000000000002px;
}
h2.block-title a {
  color: #4c4c4c;
  text-decoration: none;
}
.text-content h2 {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 'CartoGothicStdBook', 'arial', sans-serif;
  font-size: 18.525000000000002px;
}
.text-content h3 {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 'CartoGothicStdBook', 'arial', sans-serif;
  font-size: 13px;
}
.text-content ul {
  margin-left: 20px;
  list-style: square;
  margin-bottom: 1em;
}
.text-content ol {
  margin-left: 20px;
  list-style: decimal;
  margin-bottom: 1em;
}
blockquote {
  padding-left: 2em;
}
a:link {
  color: #059db9;
  text-decoration: underline;
}
a:visited {
  color: #047488;
  text-decoration: none;
}
a:hover {
  color: #035361;
  text-decoration: none;
}
a:active {
  color: #000;
  text-decoration: none;
}
.zone-user a:link, .zone-user a:visited {
  color: #5d5d5d;
  margin-right: 1.6em;
  border-color: #5d5d5d;
}
.region-menu a:link,
.region-menu a:visited,
.region-menu a:hover,
.region-menu a:active {
  color: #fff;
  font-size: 1.25em;
  text-decoration: none;
  -webkit-text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  -moz-text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
  text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
}
input[type=submit], button {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
/* !---- Blocks ----- */
.section-footer .block h2 {
  color: #fff;
  font-size: 1.5em;
  -webkit-text-shadow: #0392af 1px 1px 1px;
  -moz-text-shadow: #0392af 1px 1px 1px;
  text-shadow: #0392af 1px 1px 1px;
}
/* !---- Submenu ----- */
.block.block-menu-block {
  background-color: transparent;
}
.block.block-menu-block h2.block-title {
  font-size: 1.45em;
}
.block.block-menu-block ul li a {
  color: #059ebb;
  font-size: .95em;
  text-decoration: none;
}
.block.block-menu-block ul li a:hover {
  color: #038298;
}
.block.block-menu-block ul li a.active-trail.active {
  color: #fff;
  -webkit-text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  -moz-text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}
/* !---- Footer ----- */
.section-footer {
  color: #fff;
}
.section-footer a:link {
  color: #fff;
  text-decoration: none;
}
.section-footer a:visited {
  border: 1px dashed red;
  color: #c4eef6;
}
.section-footer a:hover {
  text-decoration: underline;
}
.section-footer a:active {
  color: #074049;
}
.section-footer .zone-footer-second a:link {
  color: #059db9;
  text-decoration: underline;
}
.section-footer .zone-footer-second a:visited {
  color: #047488;
  text-decoration: none;
}
.section-footer .zone-footer-second a:hover {
  color: #035361;
  text-decoration: none;
}
.section-footer .zone-footer-second a:active {
  color: #000;
  text-decoration: none;
}
.section-footer .zone-footer-second {
  color: #065d7f;
}
