/* !----- / Variables / ----- */
@media screen and (max-width: 768px) {
  .front .section.section-content {
    padding: 30px 0 1px;
  }
  .front .block-spanien-featured-content {
    display: none;
  }
  .front .slideshow-panorama {
    background: none;
  }
  .front .slideshow-panorama .coverlayer .coverlayer-inner {
    background: none;
    height: 47px;
  }
  .section.section-content .region {
    margin-bottom: 2em;
  }
  .section .zone {
    margin: 0;
  }
  .site-logo {
    float: none;
    text-align: center;
    width: 100%;
  }
  .zone-branding .region {
    padding: 0 0 2em;
  }
  .zone-branding .region-search {
    text-align: left;
  }
  .zone-branding .region-search input {
    margin-right: 0;
    min-width: 0;
    width: 87%;
  }
  .zone-menu .region-menu {
    margin-bottom: 0;
    margin-right: 0;
  }
  .zone-menu ul.main-menu {
    background: none;
  }
  .zone-menu ul.main-menu li {
    width: 33%;
  }
  .zone-menu ul.main-menu li a {
    background-color: #404040;
    margin: 0 10px 10px 0;
    padding: 10px;
    text-align: center;
  }
  .zone-menu ul.main-menu li.active a,
  .zone-menu ul.main-menu li.active-trail a {
    background-color: #059ebb;
  }
  .grid-12.region-postscript-first .block#block-block-6 a.link {
    display: none;
  }
  .breadcrumb {
    margin-left: 10px;
  }
  .office-hours .oh-display .oh-display-day,
  .office-hours .oh-display .oh-display-hours {
    width: 29%;
  }
  .zone-footer {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .zone.narrow-stack .region,
  .zone.narrow-no-stack .region {
    float: left;
    margin-right: 0;
    width: 31%;
  }
}
@media screen and (max-width: 650px) {
  .zone.narrow-stack .region,
  .zone.narrow-no-stack .region {
    float: left;
    margin-right: 0;
    width: 47%;
  }
  .zone.narrow-stack .region.narrow-stack,
  .zone.narrow-no-stack .region.narrow-stack {
    clear: both;
    width: 96%;
  }
}
@media screen and (max-width: 500px) {
  .zone.narrow-stack .region,
  .zone.narrow-no-stack .region {
    clear: both;
    width: 96%;
  }
}
@media screen and (max-width: 525px) {
  .zone-branding .region-search input {
    margin-right: 0;
    width: 83%;
  }
}
@media screen and (max-width: 500px) {
  .zone-branding .region-search {
    text-align: left;
  }
  .zone-branding .region-search input {
    margin-right: 0;
    width: 80%;
  }
  ul.main-menu {
    background: none;
  }
  ul.main-menu li a {
    padding: 10px 5px 5px;
  }
  .office-hours .oh-display .oh-display-day,
  .office-hours .oh-display .oh-display-hours {
    width: 25%;
  }
}
