/* !----- / Variables / ----- */

@import 'spanien.variables.less';

// Do some stuff when below 768
@media screen
and (max-width: 768px) {
  // Frontpage styling
  .front {
    .section.section-content {
      padding-top: 90px;
    }
    .slideshow-panorama {
      background: none;
      .coverlayer {
        .coverlayer-inner {
          background: none;
          height: 47px;
        }
      }
    }
  }
  .site-logo {
    float: none;
    margin-bottom: 3em;
    text-align: left;
    width: 100%;
  }
  .zone-user {
    .menu {
      a {
      }
    }
  }
  .zone-branding {
    .region-search {
      text-align: left;
      input {
        margin-right: 0;
        width: 91%;
      }
    }
  }
  ul.main-menu {
    background: none;
    li {
      width: 33%;
      a {
        background-color: #404040;
        margin: 0 10px 10px 0;
        padding: 10px;
        text-align: center;
      }
    }
  }
  .grid-12.region-postscript-first {
    .block {
      &#block-block-6 {
        a {
         &.link {
          display: none;
         }
        }
      }
    }
  }
  
  .office-hours {
    .oh-display {
      .oh-display-day,
      .oh-display-hours {
        width: 29%;
      }
    }
  }
}

// Styling of stacked regions
.zone {
  .region.narrow-no-stack {
  }
  &.narrow-stack .region,
  .region.narrow-stack {
    margin-bottom: 2em;
  }  
}

@media screen
and (min-width: 500px)
and (max-width: 768px) {
  .zone {
    &.narrow-stack .region,
    .region.narrow-stack {
      float: left;
      margin-right: 0;
      width: 47%;
    }    
  }
}

@media screen
and (max-width: 525px) {
  .zone-branding {
    .region-search {
      input {
        min-width: 0;
        width: 87%;
      }
    }
  }
}

// Do some stuff when below 400
@media screen
and (max-width: 400px) {
  .zone-branding {
    .region-search {
      text-align: left;
      input {
        margin-right: 0;
        width: 80%;
      }
    }
  }
  ul.main-menu {
    background: none;
    li {
      width: 33%;
    }
  }
  .office-hours {
    .oh-display {
      .oh-display-day,
      .oh-display-hours {
        width: 27%;
      }
    }
  }
}
  