/* !----- / Variables / ----- */

@import 'spanien.variables.less';

// Do some stuff when below 768
@media screen
and (max-width: 768px) {
  // Frontpage styling
  .front {
    .section.section-content {
      padding-top: 30px;
    }
    .block-spanien-featured-content {
      display: none;
    }
    .slideshow-panorama {
      background: none;
      .coverlayer {
        .coverlayer-inner {
          background: none;
          height: 47px;
        }
      }
    }
  }
  .site-logo {
    float: none;
    margin-bottom: 3em;
    text-align: left;
    width: 100%;
  }
  .zone-user {
    .menu {
      a {
      }
    }
  }
  .zone-branding {
    .region-search {
      text-align: left;
      input {
        margin-right: 0;
        min-width: 0;
        width: 91%;
      }
    }
  }
  ul.main-menu {
    background: none;
    li {
      width: 33%;
      a {
        background-color: #404040;
        margin: 0 10px 10px 0;
        padding: 10px;
        text-align: center;
      }
    }
  }
  .grid-12.region-postscript-first {
    .block {
      &#block-block-6 {
        a {
         &.link {
          display: none;
         }
        }
      }
    }
  }
  .breadcrumb {
    margin-left: 10px;
  }
  .office-hours {
    .oh-display {
      .oh-display-day,
      .oh-display-hours {
        width: 29%;
      }
    }
  }
  .zone-footer {
    display: none;
  }
}

// Stack variables
@no-stack-3-col-width : 31%;
@no-stack-2-col-width : 47%;
@stack-width : 96%;

.stack-default() {
  float: left;
  margin-right: 0;
}

// Styling of stack/no-stack regions

@media screen
and (max-width: 768px) {
  .zone {
    &.narrow-stack .region {
      .stack-default();
      margin-bottom: 2em;
      width: @no-stack-3-col-width;
    }
  }
}

@media screen
and (max-width: 650px) {
  .zone {
    &.narrow-stack .region {
      .stack-default();
      width: @no-stack-2-col-width;
    }
    &.narrow-stack .narrow-no-stack {
      clear: both;
      width: @stack-width;      
    }
  }
}

@media screen
and (max-width: 500px) {
  .zone {
    &.narrow-stack .region {
      width: @stack-width;
    }
  }
}

// Search width below 525
@media screen
and (max-width: 525px) {
  .zone-branding {
    .region-search {
      input {
        margin-right: 0;
        width: 83%;
      }
    }
  }
}

// Search width, menu and office hours below 400
@media screen
and (max-width: 500px) {
  .zone-branding {
    .region-search {
      text-align: left;
      input {
        margin-right: 0;
        width: 80%;
      }
    }
  }
  ul.main-menu {
    background: none;
    li {
      a {
        padding: 10px 5px 5px;
      }
    }
  }  
  .office-hours {
    .oh-display {
      .oh-display-day,
      .oh-display-hours {
        width: 25%;
      }
    }
  }
}
