/* !----- / Variables / ----- */

@import 'spanien.variables.less';

// Do some stuff when below 768
@media screen
and (max-width: 768px) {
  // Frontpage styling
  .front {
    .section.section-content {
      padding: 30px 0 1px;
    }
    .block-spanien-featured-content {
      display: none;
    }
    .slideshow-panorama {
      background: none;
      .coverlayer {
        .coverlayer-inner {
          background: none;
          height: 47px;
        }
      }
    }
  }
  .section {
    &.section-content {
      .region {
        margin-bottom: 2em;    
      }    
    }
    .zone {
      margin: 0;
    }
  }
  .site-logo {
    float: none;
    text-align: center;
    width: 100%;
  }
  .zone-user {
    .menu {
      a {
      }
    }
  }
  .zone-branding {
    .region {
      padding: 0 0 2em;
    }
    .region-search {
      text-align: left;
      input {
        margin-right: 0;
        min-width: 0;
        width: 87%;
      }
    }
  }
  .zone-menu {
    .region-menu {
      margin-bottom: 0;
      margin-right: 0;
    }
    ul.main-menu {
      background: none;
      li {
        width: 33%;
        a {
          background-color: #404040;
          margin: 0 10px 10px 0;
          padding: 10px;
          text-align: center;
        }
        &.active a,
        &.active-trail a {
          background-color: #059ebb;
        }
      }
    }    
  }
  .grid-12.region-postscript-first {
    .block {
      &#block-block-6 {
        a {
         &.link {
          display: none;
         }
        }
      }
    }
  }
  .breadcrumb {
    margin-left: 10px;
  }
  .office-hours {
    .oh-display {
      .oh-display-day,
      .oh-display-hours {
        width: 29%;
      }
    }
  }
  .zone-footer {
    display: none;
  }   
}

// Stack variables
@stack-width-1-col : 96%;
@stack-width-2-col : 47%;
@stack-width-3-col : 31%;

.stack-default() {
  float: left;
  margin-right: 0;
}

// Styling of stack/no-stack regions

@media screen
and (max-width: 768px) {
  .zone {
    &.narrow-stack .region,
    &.narrow-no-stack .region {
      .stack-default();
      width: @stack-width-3-col;
    }
  }
}

@media screen
and (max-width: 650px) {
  .zone {
    &.narrow-stack .region,
    &.narrow-no-stack .region {
      .stack-default();
      width: @stack-width-2-col;
      &.narrow-stack {
        clear: both;
        width: @stack-width-1-col;      
      }
    }
  }
}

@media screen
and (max-width: 500px) {
  .zone {
    &.narrow-stack .region,
    &.narrow-no-stack .region {
      clear: both;
      width: @stack-width-1-col;
    }
  }
}

// Search width below 525
@media screen
and (max-width: 525px) {
  .zone-branding {
    .region-search {
      input {
        margin-right: 0;
        width: 83%;
      }
    }
  }
}

// Search width, menu and office hours below 400
@media screen
and (max-width: 500px) {
  .zone-branding {
    .region-search {
      text-align: left;
      input {
        margin-right: 0;
        width: 80%;
      }
    }
  }
  ul.main-menu {
    background: none;
    li {
      a {
        padding: 10px 5px 5px;
      }
    }
  }  
  .office-hours {
    .oh-display {
      .oh-display-day,
      .oh-display-hours {
        width: 25%;
      }
    }
  }
}
