/* !---- Body ----- */

.section-header {
  background-color: #f3f3f3;
}

/* !---- Zone branding ----- */

.zone-branding {
  min-height: 115px;
  position: relative;
  .region-branding {
    padding: 4em 0 0;
    .site-logo {
      float: left;
      width: 47.340425531914893617021276595745%;
    }
  }
  .region-search {
    padding: 0 0 5em;
  }
}

/* !---- Main menu ----- */

.region-menu ul {
  background-color: #404040;
  overflow: hidden;
  li {
    float: left;
    margin: 0;
    a {
      display: block;
      padding: 10px 35px;  
      &:hover {
        background-color: #333;
      }
    }
    &.active a {
      background-color: #059ebb;
    }
  }
}

/* !---- Content ----- */

.section.section-content {
  margin: 0 0 50px;
}

/* !---- Blocks ----- */

.block {
  background-color: #f3f3f3;
}

// No background on footer blocks
.section-footer .block {
  background-color: transparent;
}

.block h1,
.block h2,
.block h3,
.block h4,
.block h5 {
  background-color: #fff;
}

// View (spotboxes etc.)
.block .view .content {
  padding: 20px;
}

.block .view .link {
  padding: 0 20px 20px;
  text-align: right;
}

/* !---- Footer ----- */

.section-footer {
  background: #0db7d7 url('../images/footer-bg.jpg') repeat-x;
  min-height: 250px;
}

/* !---- Bottom ----- */

.region-page-bottom {
  background-color: #d3f1f7;
}