/* !----- / Variables / ----- */
@import 'spanien.variables.less';

/* !---- Header ----- */

.section-header {
  background-color: #f3f3f3;
}

/* !---- Zone user ----- */

.zone-user {
  .menu {
    margin: 1em 0 0;
    text-align: right;
    li {
      background: url('../images/secondary-menu-sep.png') no-repeat right 1px;
      a {
        margin: 0 10px 0 0;
      }
      &.last {
        background: none;
        margin: 0;
        a {
          margin: 0;
        }
      }
    }
  }
}

/* !---- Zone branding ----- */

.zone-branding {
  min-height: 115px;
  position: relative;
  .region-branding {
    padding: 1em 0 0;
    .site-logo {
      float: left;
      width: 47.340425531914893617021276595745%;
    }
  }
  .region-search {
    margin-top: -13px;
    padding: 0 0 3em;
    text-align: right;
    input {
      border: 1px solid #cfcfcf;
      height: 37px;
      margin-right: -10px;
      padding: 0 1em 0 .5em;
      min-width: 320px;
    }
    input[type=submit] {
      background: url('../images/sprites.png') no-repeat 12px 10px #059ebb;
      border: 0;
      .border-radius(10px);
      margin-right: 0;
      padding: 0;
      text-indent: -10000px;
      min-width: 41px;
      width: 41px;
    }
  }
}

/* !---- Main menu ----- */

.region-menu ul {
  background-color: #404040;
  overflow: hidden;
  li {
    float: left;
    margin: 0;
    a {
      display: block;
      padding: 10px 35px;  
      &:hover {
        background-color: #333;
      }
    }
    &.active a,
    &.active-trail a {
      background-color: #059ebb;
    }
  }
}

/* !---- Submenu ----- */

.block.block-menu-block {
  background-color: transparent;
  h2 {
    &.block-title {
      a {
        background-color: #f3f3f3;
        display: block;
        padding: 0 0 0 15px;    
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      a {
        background: #f3f3f3 url('../images/menu-sprite.png') no-repeat;
        display: block;
        line-height: 30px;
        min-height: 30px;
        margin: 1px 0 0;
        &:hover,
        &.active-trail {
          background-color: #e4e4e4;
        }
        &.active-trail.active {
          background-color: #059ebb;
        }        
      }
      &.level-2 {
        a {
          background-position: -68px -71px;
          padding-left: 30px;
          &.active-trail {
            background-position: -22px -22px;
          }
          &.active-trail.active {
            background-position: -45px -46px;
          }
        }
        &.expanded.active-trail {
          >a {
            &.active-trail.active {
              background-position: -90px -95px;
            }
          }
        }
      }
      &.level-3 {
        a {
          background-position: -55px -71px;
          padding-left: 45px;
          &.active-trail {
            background-position: -6px -22px;
          }
          &.active-trail.active {
            background-position: -30px -46px;
          }
        }
        &.expanded.active-trail {
          >a {
            &.active-trail.active {
              background-position: -76px -95px;
            }
          }
        }        
      }
      &.level-4 {
        a {
          background-position: -40px -71px;
          padding-left: 60px;
          &.active-trail {
            background-position: 10px -22px;
          }
          &.active-trail.active {
            background-position: -16px -46px;
          }
        }
        &.expanded.active-trail {
          >a {
            &.active-trail.active {
              background-position: -60px -95px;
            }
          }
        }                
      }
      &.level-5 {
        a {
          background-position: -23px -71px;
          padding-left: 75px;
          &.active-trail {
            background-position: 24px -22px;
          }
          &.active-trail.active {
            background-position: 0 -46px;
          }
        }
        &.expanded.active-trail {
          >a {
            &.active-trail.active {
              background-position: -46px -95px;
            }
          }
        }
      }      
      &.level-6 {
        a {
          background-position: -8px -71px;
          padding-left: 90px;
          &.active-trail {
            background-position: 40px -22px;
          }          
          &.active-trail.active {
            background-position: 14px -46px;
          }
        }
        &.expanded.active-trail {
          >a {
            &.active-trail.active {
              background-position: -30px -95px;
            }
          }
        }
      }
      &.level-7 {
        a {
          background-position: 6px -71px;
          padding-left: 105px;
          &.active-trail {
            background-position: 58px -22px;
          }          
          &.active-trail.active {
            background-position: 28px -46px;
          }
        }
        &.expanded.active-trail {
          >a {
            &.active-trail.active {
              background-position: -18px -95px;
            }
          }
        }        
      }
      &.level-8 {
        a {
          background-position: 20px -71px;
          padding-left: 120px;
          &.active-trail {
            background-position: 76px -22px;
          }          
          &.active-trail.active {
            background-position: 44px -46px;
          }
        }
        &.expanded.active-trail {
          >a {
            &.active-trail.active {
              background-position: -24px -95px;
            }
          }
        }        
      }      
    }
  }
}
  
/* !---- Content ----- */

.section.section-content {
  background-color: #fff;
  padding: 30px 0;
}

// Make sure the regions are visible when editing frontpage with context
.context-editing .section.section-content {
  padding: 90px 0 30px;
}

/* !---- Blocks ----- */

.block {
  h1,
  h2,
  h3,
  h4,
  h5 {
    background-color: #fff;  
  }
  &.block-nodespotbox {
    background-color: #f3f3f3;
    &.block-image {
      h2 {
        background-color: #f3f3f3;
        a {
          display: block;
          padding: 10px 20px 5px;
          margin: 0 0 -20px;
        }
      }
    }
    .text-content {
      padding: 20px 20px 15px 22px;
    }
    .link {
      margin: -15px 0 0;
      padding: 0 20px 20px;
      text-align: right;
    }
  }
}

// No background on footer blocks
.section-footer {
  h2,
  .block {
    background-color: transparent;
  }  
}

/* !---- Footer ----- */

.section-footer {
  background: #0db7d7 url('../images/footer-bg.jpg') repeat-x;
  .zone-footer {
    .region {
      margin-top: 50px;
    }
  }
  ul {
    li {
      background: none;
      list-style: circle inside;
    }
  }
  a.link {
    background: url('../images/menu-sprite.png') no-repeat top left;
    display: block;
    line-height: 120%;
    padding: 0 0 0 25px;
  }
  .zone-footer-second-wrapper {
    background-color: #d3f1f7;
    padding: .5em 0;
    text-align: center;
    p {
      margin: 1% 0;
    }
    .zone-footer-second {
      margin: 0 auto;
    }
  }
}

/* !---- Featured content ----- */

.slideshow-panorama {
  background: url('../images/featured-content-overlay-bottom.png') no-repeat center bottom;
  bottom: 0;
  margin: 0 0 -86px;
  max-width: 100%;
  padding: 0 0 25px;
  position: relative;
  z-index: 1;
  .skin {
    overflow: hidden;  
  }
  .next,
  .previous {
    background: url('../images/slideshow-arrows.png') no-repeat;
    cursor: pointer;
    display: block;
    height: 37px;
    overflow: hidden;
    position: absolute;
    text-indent: -10000px;
    top: 80px;
    width: 37px;
    z-index: 10;
  }
  .next {
    background-position: left center;    
    left: -20px;
  }
  .previous {
    background-position: right center;    
    right: -20px;
  }
  .views-row {
    width: 980px;
  }  
  .coverlayer {
    background: url('../images/black-bg-75.png');
    background: rgba(0, 0, 0, .75);
    left: 0;
    position: absolute;
    top: 187px;
    width: 100%;
    .coverlayer-inner {
      background: url('../images/featured-content-overlay-top.png') no-repeat center bottom;
      bottom: 0;
      height: 61px;
      margin: 0;
      padding: 0;
      position: relative;
      h2 {
        background: none;
        line-height: 250%;
        margin: 0 20px;
      }
      p {
        margin: 0;
      }
    }
  }
  .panorama-image {
    margin: 0;
  }
  .views-slideshow-controls-bottom {
    bottom: 48px;
    position: absolute;
    right: 10px;
    z-index: 3;
    .pager {
      .pager-item {
        float: left;
        margin: 0 5px 0 0;
        background-color: #949494;
        .border-radius(10px);
        cursor: pointer;
        height: 12px;
        overflow: hidden;
        text-indent: -10000px;
        width: 12px;
        &.active {
          background-color: #fff;
        }        
      }
    }   
  }
}

/* !---- Sidebars ----- */

.region-sidebar-first,
.region-sidebar-second {
  .block-nodespotbox {
    margin: 0 0 2em;
  }
}

/* !---- Bottom ----- */

.region-page-bottom {
  min-height: 0px;
}